// Game Results
.game-lookup-list{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    
    li{
        width: 20%;
        margin-inline: 1rem;
        margin-bottom: 2rem;
        border-radius: 1rem;
        padding-inline: 2rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
        box-shadow: rgba(0, 0, 0, 0.192) 0px 3px 8px;

        h3{
            font-weight: 100;
            font-size: 2.1rem;
        }
        img{
            aspect-ratio: 16/9;
            width: 100%;
            
        }
    }
}

.library{
    text-align: center;
    
    background-color: rgba(0, 0, 0, 0.904);
    margin-inline: 2.5%;

    h2{
        margin-top: 3rem;
        margin-bottom: 5rem;
        font-size: 4rem;
    }
}

.library-gameList{

    @extend .game-lookup-list;
    text-align: left;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

.hidden {
    display: none;
    transition: all 3s ease;
}

