*{
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    font-family: sans-serif;
    scroll-behavior: smooth;
}

body{
    font-size: 1.5rem;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}

