// Game Lookup Section
.search{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;

    h2{
        width: 100%;
        text-align: center;
        font-size: 3rem;
        margin-bottom: 2rem;
        
    }

    .search-label{
        text-transform: uppercase;
        font-weight: 600;
        width: 100%;
        margin-inline: 2rem auto;
    }
    .search-form{
        
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-flow: row wrap;
        margin-bottom: 2rem;
        width: 90%;

        #search-consoles{
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            background-color: white;
            border: none;
            font-size: 1.2rem;
            font-weight: 400;
            
            padding-bottom: 1rem;
            padding-top: 1rem;
            padding-inline: 1rem;
            border-radius: 5px;
            text-align: center;
            
            width: 25%;

        }
        .game-lookup-input{
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            font-size: 1.2rem;
            padding: 1rem 0;
            border: none;
            border-bottom: solid thin gray;
            margin-left: 1rem;
            width: 68%;
            padding-left: 1rem;
            border-radius: 5px;
        }
    }

    .game-lookup-button {
        width: 80%;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    
}


.search-results{
    .game-lookup-list {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: center;
        margin-inline: 5rem;
        li{
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
            align-items: center;
        }
    }
}