@use "resets";
@use "utilities";
@use "nav";
@use 'search';
@use 'library';
// Side Navbar

// Background
.background{
    position: fixed;
    background-image: url('../img/background.jpg');
    height: 100vh;
    width: 100vw;
    z-index: -1;
    background-color: rgba(0, 0, 3, 0.438); /* Tint color */
    background-blend-mode: multiply;

}

// Body Styles
body{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: flex-start;
    background-color:rgba(10, 10, 10, 0.904);
    color: white;
}

// Main Section
main{
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 5rem;
    h1{
        font-size: 4rem;
        font-weight: 300;
        text-decoration: underline greenyellow;
    }

    p{
        color: gray;
        font-size: 1.5rem;
        font-style:italic;
    }

    ul{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-flow: row wrap;
        width: 100%;
        margin-top: 5rem;

        li{
            width: 40%;
            &:first-of-type{
                border-right: solid thin rgb(212, 212, 212);
                
            }

            a{
                display: inline-block;
                width: 100%;
                padding-top: 2rem;
                padding-bottom: 2rem;
                font-size: 2rem;
                text-transform: uppercase;
                color: rgb(248, 248, 248);
                font-weight: 200;
                border-radius: 5px;
                letter-spacing: 2px;

                &:hover,
                &:active{
                    background-color:rgb(61, 62, 63);
                    transform: scale(1.1);
                }
            }
        }


    }
}

.activeLink {
    text-decoration: underline rgb(104, 233, 88);
}

.hidden {
    display: none;
    transition: all 3s ease;
}

