@use "resets";


// Side Navbar
.nav {
    // Sizing
    height: 100vh;
    width: fit-content;

    // Color
    background-color: rgba(107, 121, 151, 0.993);
    color: rgb(231, 242, 252);

    // Display
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: flex-start;

    // Positioning
    position: fixed;
    align-self: flex-start;
    .nav-header {

        // Spacing
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 3rem;
        padding-bottom: 4rem;
        //margin-bottom: 2rem;
        border-bottom: solid thin black;

        h2 {
            font-size: 2rem;
            font-weight: 300;
            color: rgb(236, 252, 19);
        }


    }

    .nav-items {

        width: 100%;

        li {
            width: 100%;
            font-size: 2rem;
            border-bottom: solid thin black;

            a {
                width: 100%;
                padding-bottom: 2rem;
                padding-top: 2rem;
                display: inline-block;
                text-indent: 1rem;
                color: white;

                &:hover {
                    background-color: lighten(rgba(107, 121, 151, 0.993), 10%);
                    cursor: pointer;
                    color: rgb(45, 32, 177);
                    margin-left: 0;
                }
            }
        }
    }

    .nav-close {
        align-self: flex-end;
        padding-right: 2rem;
        padding-top: 1rem;
        font-size: 3rem;
        transition: all .2s ease-in-out;

        &:hover {
            cursor: pointer;
            color: rgb(113, 8, 8);
            transform: scale(1.5);
        }
    }
}

.nav-icon {
    position: fixed;
    align-self: flex-start;
    i {
        font-size: 2rem;

        &:hover {
            color: green;
            transform: scale(1.5);
            cursor: pointer;
            position: fixed;
        }
    }

}

// Body Styles
body{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: flex-start;
}

// Main Section
main{
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 5rem;
    h1{
        font-size: 4rem;
        font-weight: 300;
        text-decoration: underline greenyellow;
    }

    p{
        color: gray;
        font-size: 1.5rem;
        font-style:italic;
    }

    ul{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-flow: row wrap;

        margin-top: 5rem;

        li{
            width: 49%;
            &:first-of-type{
                border-right: solid thin black;
                
            }

            a{
                display: inline-block;
                width: 100%;
                padding-top: 2rem;
                padding-bottom: 2rem;
                font-size: 2rem;
                text-transform: uppercase;
                color: green;
                font-weight: 600;
                border-radius: 5px;

                &:hover{
                    background-color:rgb(231, 242, 252);
                    transform: scale(1.1);
                }
            }
        }


    }
}

// Game Lookup Section
// <section class="search">
//     <h2>Find a game</h2>
//     <select name="consoles" id="search-consoles">
//         <option value="XboxSeriesX">Xbox Series X</option>
//         <option value="Playstation5">Playstation 5</option>
//     </select>
//     <input class="game-lookup-input" type="text" placeholder="Search for a game">
//     <button class="game-lookup-button">Search</button>
// </section>
.search{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;

    h2{
        width: 100%;
        text-align: center;
        font-size: 3rem;
        margin-bottom: 2rem;
    }

    #search-consoles{
        background: none;
        border: none;
        font-size: 1.5rem;
    }
}

// Utility class
.hidden {
    display: none;
}

.btn{
    padding-inline: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 2rem;
    text-transform:uppercase;
    font-weight: 200;
    background-color: rgb(82, 156, 38);
    color: white;
    border-radius: 8px;
    border: none;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    transition: all .1s ease-in-out;
    &:hover{
        transform: scale(1.2);
        background-color: rgb(99, 178, 220);
        cursor: pointer;
        color:rgb(16, 1, 180);
    }
}