@use "resets";
@use "utilities";

// Side Navbar
.nav {
    // Sizing
    height: 100vh;
    width: fit-content;

    // Color
    background-color: rgba(107, 121, 151, 0.993);
    color: rgb(231, 242, 252);

    // Display
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: flex-start;

    // Positioning
    position: fixed;
    align-self: flex-start;
    .nav-header {

        // Spacing
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 3rem;
        padding-bottom: 4rem;
        //margin-bottom: 2rem;
        border-bottom: solid thin black;

        h2 {
            font-size: 2rem;
            font-weight: 300;
            color: rgb(236, 252, 19);
        }


    }

    .nav-items {

        width: 100%;

        li {
            width: 100%;
            font-size: 2rem;
            border-bottom: solid thin black;

            a {
                width: 100%;
                padding-bottom: 2rem;
                padding-top: 2rem;
                display: inline-block;
                text-indent: 1rem;
                color: white;

                &:hover {
                    background-color: lighten(rgba(107, 121, 151, 0.993), 10%);
                    cursor: pointer;
                    color: rgb(45, 32, 177);
                    margin-left: 0;
                }
            }
        }
    }

    .nav-close {
        align-self: flex-end;
        padding-right: 2rem;
        padding-top: 1rem;
        font-size: 3rem;
        transition: all .2s ease-in-out;

        &:hover {
            cursor: pointer;
            color: rgb(113, 8, 8);
            transform: scale(1.5);
        }
    }
}

.nav-icon {
    position: fixed;
    align-self: flex-start;
    left: 2rem;
    top: 2rem;
    i {
        font-size: 2rem;

        &:hover {
            color: green;
            transform: scale(1.5);
            cursor: pointer;
            position: fixed;
        }
    }

}
// Background
.background{
    position: fixed;
    background-image: url('../img/background.jpg');
    height: 100vh;
    width: 100vw;
    z-index: -1;
    background-color: rgba(0, 0, 3, 0.438); /* Tint color */
    background-blend-mode: multiply;

}

// Body Styles
body{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: flex-start;
    background-color:rgba(10, 10, 10, 0.904);
    color: white;
}

// Main Section
main{
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 5rem;
    h1{
        font-size: 4rem;
        font-weight: 300;
        text-decoration: underline greenyellow;
    }

    p{
        color: gray;
        font-size: 1.5rem;
        font-style:italic;
    }

    ul{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-flow: row wrap;
        width: 100%;
        margin-top: 5rem;

        li{
            width: 40%;
            &:first-of-type{
                border-right: solid thin rgb(212, 212, 212);
                
            }

            a{
                display: inline-block;
                width: 100%;
                padding-top: 2rem;
                padding-bottom: 2rem;
                font-size: 2rem;
                text-transform: uppercase;
                color: rgb(248, 248, 248);
                font-weight: 200;
                border-radius: 5px;
                letter-spacing: 2px;

                &:hover,
                &:active{
                    background-color:rgb(61, 62, 63);
                    transform: scale(1.1);
                }
            }
        }


    }
}

// Game Lookup Section
.search{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;

    h2{
        width: 100%;
        text-align: center;
        font-size: 3rem;
        margin-bottom: 2rem;
        
    }

    .search-label{
        text-transform: uppercase;
        font-weight: 600;
        width: 100%;
        margin-inline: 2rem auto;
    }
    .search-form{
        
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-flow: row wrap;
        margin-bottom: 2rem;
        width: 90%;

        #search-consoles{
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            background-color: white;
            border: none;
            font-size: 1.2rem;
            font-weight: 400;
            
            padding-bottom: 1rem;
            padding-top: 1rem;
            padding-inline: 1rem;
            border-radius: 5px;
            text-align: center;
            
            width: 25%;

        }
        .game-lookup-input{
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            font-size: 1.2rem;
            padding: 1rem 0;
            border: none;
            border-bottom: solid thin gray;
            margin-left: 1rem;
            width: 68%;
            padding-left: 1rem;
            border-radius: 5px;
        }
    }

    .game-lookup-button {
        width: 80%;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    
}


.search-results{
    .game-lookup-list {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: center;
        margin-inline: 5rem;
        li{
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
            align-items: center;
        }
    }
}

.activeLink {
    text-decoration: underline rgb(104, 233, 88);
}

// Game Results
.game-lookup-list{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    
    li{
        width: 20%;
        margin-inline: 1rem;
        margin-bottom: 2rem;
        border-radius: 1rem;
        background-color: rgb(37, 35, 35);
        padding-inline: 2rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
        box-shadow: rgba(0, 0, 0, 0.192) 0px 3px 8px;

        h3{
            font-weight: 100;
            font-size: 2.1rem;
        }
        img{
            aspect-ratio: 16/9;
            width: 100%;
            
        }
    }
}

.hidden {
    display: none;
}

.library{
    text-align: center;
    h2{
        margin-bottom: 5rem;
        font-size: 4rem;
    }
}

.library-gameList{

    @extend .game-lookup-list;
    li{
        width: 20%;
        margin-inline: 1rem;
        margin-bottom: 2rem;
        border-radius: 1rem;
        background-color: rgb(37, 35, 35);
        padding-inline: 2rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
        box-shadow: rgba(0, 0, 0, 0.192) 0px 3px 8px;

        h3{
            font-weight: 100;
            font-size: 2.1rem;
        }
        img{
            aspect-ratio: 16/9;
            width: 100%;
            
        }

        .btn{
            background-color: red;

            &:hover {
                color: white;
            }
        }
    }
}