* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: sans-serif;
  scroll-behavior: smooth;
}

body {
  font-size: 1.5rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

.btn {
  padding-inline: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 200;
  background-color: #529c26;
  color: white;
  border-radius: 8px;
  border: none;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  transition: all 0.1s ease-in-out;
}
.btn:hover {
  transform: scale(1.2);
  background-color: #63b2dc;
  cursor: pointer;
  color: #1001b4;
}

.nav {
  height: 100vh;
  width: 33%;
  max-width: 400px;
  background-color: #281414;
  color: white;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: fixed;
  align-self: flex-start;
  transition: 2s;
}
.nav .nav-header {
  width: 100%;
  text-indent: 1rem;
  padding-top: 3rem;
  padding-bottom: 1rem;
  border-bottom: solid thin white;
}
.nav .nav-header h2 {
  font-size: 2rem;
  font-weight: 300;
  color: white;
}
.nav .nav-items {
  width: 100%;
}
.nav .nav-items li {
  width: 100%;
  font-size: 2rem;
  border-bottom: solid thin black;
}
.nav .nav-items li a {
  width: 100%;
  padding-bottom: 2rem;
  padding-top: 2rem;
  display: inline-block;
  text-indent: 1rem;
  color: white;
}
.nav .nav-items li a:hover {
  background-color: rgba(137, 148, 172, 0.993);
  cursor: pointer;
  color: #2d20b1;
  margin-left: 0;
}
.nav .nav-close {
  align-self: flex-end;
  padding-right: 2rem;
  padding-top: 1rem;
  font-size: 3rem;
  transition: all 0.2s ease-in-out;
}
.nav .nav-close:hover {
  cursor: pointer;
  color: #710808;
  transform: scale(1.5);
}

.nav-icon {
  position: fixed;
  align-self: flex-start;
  left: 2rem;
  top: 2rem;
}
.nav-icon i {
  font-size: 2rem;
}
.nav-icon i:hover {
  color: green;
  transform: scale(1.5);
  cursor: pointer;
  position: fixed;
}

.search {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;
}
.search h2 {
  width: 100%;
  text-align: center;
  font-size: 3rem;
  margin-bottom: 2rem;
}
.search .search-label {
  text-transform: uppercase;
  font-weight: 600;
  width: 100%;
  margin-inline: 2rem auto;
}
.search .search-form {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
  margin-bottom: 2rem;
  width: 90%;
}
.search .search-form .game-lookup-input {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  font-size: 1.2rem;
  padding: 1rem 0;
  border: none;
  border-bottom: solid thin gray;
  margin-left: 1rem;
  width: 68%;
  padding-left: 1rem;
  border-radius: 5px;
}
.search .game-lookup-button {
  width: 80%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.search-consoles {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: white;
  border: none;
  font-size: 1.2rem;
  font-weight: 400;
  padding-bottom: 1rem;
  padding-top: 1rem;
  padding-inline: 1rem;
  border-radius: 5px;
  text-align: center;
  width: 25%;
}

.search-results .game-lookup-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  margin-inline: 5rem;
}
.search-results .game-lookup-list li {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.game-lookup-list, .library-gameList {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}
.game-lookup-list li, .library-gameList li {
  width: 20%;
  margin-inline: 1rem;
  margin-bottom: 2rem;
  border-radius: 1rem;
  background-color: #252323;
  padding-inline: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  box-shadow: rgba(0, 0, 0, 0.192) 0px 3px 8px;
}
.game-lookup-list li h3, .library-gameList li h3 {
  font-weight: 100;
  font-size: 2.1rem;
}
.game-lookup-list li img, .library-gameList li img {
  aspect-ratio: 16/9;
  width: 100%;
}

.library {
  text-align: center;
  border: red solid thin;
  background-color: rgba(0, 0, 0, 0.904);
  margin-inline: 2.5%;
}
.library h2 {
  margin-top: 3rem;
  margin-bottom: 5rem;
  font-size: 4rem;
}

.library-gameList {
  text-align: left;
}
.library-gameList li {
  width: 20%;
  margin-inline: 1rem;
  margin-bottom: 2rem;
  border-radius: 1rem;
  background-color: black;
  padding-inline: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  border: solid thin #0059ff;
  box-shadow: rgba(0, 0, 0, 0.192) 0px 3px 8px;
}
.library-gameList li h3 {
  font-weight: 100;
  font-size: 2.1rem;
}
.library-gameList li img {
  aspect-ratio: 16/9;
  width: 100%;
}
.library-gameList li .btn {
  background-color: red;
}
.library-gameList li .btn:hover {
  color: white;
}

.background {
  position: fixed;
  background-image: url("../img/background.jpg");
  height: 100vh;
  width: 100vw;
  z-index: -1;
  background-color: rgba(0, 0, 3, 0.438);
  /* Tint color */
  background-blend-mode: multiply;
}

body {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: flex-start;
  background-color: rgba(10, 10, 10, 0.904);
  color: white;
}

main {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 5rem;
}
main h1 {
  font-size: 4rem;
  font-weight: 300;
  text-decoration: underline greenyellow;
}
main p {
  color: gray;
  font-size: 1.5rem;
  font-style: italic;
}
main ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
  width: 100%;
  margin-top: 5rem;
}
main ul li {
  width: 40%;
}
main ul li:first-of-type {
  border-right: solid thin #d4d4d4;
}
main ul li a {
  display: inline-block;
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-size: 2rem;
  text-transform: uppercase;
  color: #f8f8f8;
  font-weight: 200;
  border-radius: 5px;
  letter-spacing: 2px;
}
main ul li a:hover, main ul li a:active {
  background-color: #3d3e3f;
  transform: scale(1.1);
}

.activeLink {
  text-decoration: underline #68e958;
}

.hidden {
  display: none;
  transition: all 3s ease;
}

/*# sourceMappingURL=main.css.map */
