* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: sans-serif;
}

body {
  font-size: 1.5rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

.nav {
  height: 100vh;
  width: fit-content;
  background-color: rgba(107, 121, 151, 0.993);
  color: #e7f2fc;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: fixed;
  align-self: flex-start;
}
.nav .nav-header {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 3rem;
  padding-bottom: 4rem;
  border-bottom: solid thin black;
}
.nav .nav-header h2 {
  font-size: 2rem;
  font-weight: 300;
  color: #ecfc13;
}
.nav .nav-items {
  width: 100%;
}
.nav .nav-items li {
  width: 100%;
  font-size: 2rem;
  border-bottom: solid thin black;
}
.nav .nav-items li a {
  width: 100%;
  padding-bottom: 2rem;
  padding-top: 2rem;
  display: inline-block;
  text-indent: 1rem;
  color: white;
}
.nav .nav-items li a:hover {
  background-color: rgba(137, 148, 172, 0.993);
  cursor: pointer;
  color: #2d20b1;
  margin-left: 0;
}
.nav .nav-close {
  align-self: flex-end;
  padding-right: 2rem;
  padding-top: 1rem;
  font-size: 3rem;
  transition: all 0.2s ease-in-out;
}
.nav .nav-close:hover {
  cursor: pointer;
  color: #710808;
  transform: scale(1.5);
}

.nav-icon {
  position: fixed;
  align-self: flex-start;
}
.nav-icon i {
  font-size: 2rem;
}
.nav-icon i:hover {
  color: green;
  transform: scale(1.5);
  cursor: pointer;
  position: fixed;
}

body {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: flex-start;
}

main {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 5rem;
}
main h1 {
  font-size: 4rem;
  font-weight: 300;
  text-decoration: underline greenyellow;
}
main p {
  color: gray;
  font-size: 1.5rem;
  font-style: italic;
}
main ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
  margin-top: 5rem;
}
main ul li {
  width: 49%;
}
main ul li:first-of-type {
  border-right: solid thin black;
}
main ul li a {
  display: inline-block;
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-size: 2rem;
  text-transform: uppercase;
  color: green;
  font-weight: 600;
  border-radius: 5px;
}
main ul li a:hover {
  background-color: #e7f2fc;
  transform: scale(1.1);
}

.search {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;
}
.search h2 {
  width: 100%;
  text-align: center;
  font-size: 3rem;
  margin-bottom: 2rem;
}
.search #search-consoles {
  background: none;
  border: none;
  font-size: 1.5rem;
}

.hidden {
  display: none;
}

.btn {
  padding-inline: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 200;
  background-color: #529c26;
  color: white;
  border-radius: 8px;
  border: none;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  transition: all 0.1s ease-in-out;
}
.btn:hover {
  transform: scale(1.2);
  background-color: #63b2dc;
  cursor: pointer;
  color: #1001b4;
}

/*# sourceMappingURL=main.css.map */
